profiles {

    standard {
        process.executor = 'local'
        process.container = 'ndatth/circall:v1.0.1'
        runOptions = '-u $(id -u):$(id -g)'
        docker.enabled = true
    }

    cluster {

        process.errorStrategy = 'retry'

        process.container = 'ndatth/circall:v1.0.1'
        process.memory = '8G'

        singularity {
        enabled = true
        autoMounts = true
        runOptions = "--bind /tmp:/tmp"
        }
        
        process {
        executor='slurm'
        process.queue = 'smallmem,gpu,hugemem'
        }

        executor {
        queueSize = 12
        submitRateLimit = '10 sec'
        }
    }

}