profiles {

    standard {
        process.executor = 'local'
        process.container = 'ndatth/circall:v1.0.1'
        runOptions = '-u $(id -u):$(id -g)'
        docker.enabled = true
    }

    cluster {
        process.executor = 'slurm'
        process.container = 'ndatth/circall:v1.0.1'
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
